<a href="https://colab.research.google.com/github/freddy-7/TI3002C/blob/main/2_Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**VALORES NULOS**

In [ ]:
#Cargar archivo csv desde COLAB
#from google.colab import files
#files.upload()

In [37]:
#Carga desde un archivo .csv sin indice
data = pd.read_csv('inmuebles_sin_nulos.csv')
data.head(5)

,Unnamed: 0,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,0,01/01/2017,27858.9,27477.3,27858872.08,27591730.13,267141.956,27858872.08,1.023010e+07,6864575.384,...,6705475.318,9.459063e+05,2880656.169,2606192.942,1.050314e+06,340777.3882,4397543.671,772371.8476,1838507.096,2806660.309
1,1,01/02/2017,25994.2,25223.4,25994200.17,25749179.40,245020.769,25994200.17,9.719067e+06,6438494.011,...,6576624.803,9.256186e+05,2855639.900,2600083.591,1.026167e+06,328288.6951,4053283.771,672290.5165,1257661.903,2354084.901
2,2,01/03/2017,27780.0,26334.3,27780006.52,27472228.72,307777.804,27780006.52,1.024444e+07,6908522.962,...,7437264.174,1.016148e+06,3188259.169,2824976.726,1.075526e+06,353335.1548,4354197.611,667696.6653,1305674.917,2266189.277
3,3,01/04/2017,29134.3,27045.9,29134272.22,28827479.49,306792.733,29134272.22,1.031263e+07,7454251.800,...,8211244.093,1.132396e+06,3257140.159,3006158.760,1.037213e+06,359694.4537,4355706.646,838948.2458,1535726.345,2146755.887
4,4,01/05/2017,27969.0,25631.9,27969004.68,27569311.41,399693.262,27969004.68,1.014761e+07,6735747.319,...,7651058.084,1.033082e+06,3232635.767,2799142.123,9.826512e+05,336568.0085,4206101.605,915895.1498,1824462.036,2117971.483

In [ ]:
#Eliminar primera fila o filas innecesarias
data1= pd.read_csv('Ventas_totales.csv', skiprows=1)
data1

In [ ]:
#Eliminar columnas innecesarias
#axis = 1 para columnas
#axis = 0 para filas
data2= data1.drop(['0','Referencia'], axis=1)
data2

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data.isnull().sum()
valores_nulos

In [ ]:
#Identificar valores nulos por dataframe
valores_nulos=data2.isnull().sum().sum()
valores_nulos

**MÃ©todos de SustituciÃ³n de Valores Nulos**

In [ ]:
#Realizamos una copia del dataframe
data3=data2.copy()

In [ ]:
#Primer mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos con promedio o media
data["lacteos"]=data["lacteos"].fillna(round(data["lacteos"].mean(),1))

In [38]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

Unnamed: 0                             0
indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

In [ ]:
#Segundo mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos con mediana
data3["Precio Venta"]=data3["Precio Venta"].fillna(round(data2["Precio Venta"].median(),1))

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Tercer mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por un valor numÃ©rico en  concreto 
#Todos los rellena con 10

data3["Fecha Alta"]= data3["Fecha Alta"].fillna(10) 
data3

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Cuarto mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por un string en  concreto 
data3["Fecha Venta"] =data3["Fecha Venta"].fillna("2030-06-19 00:00:00")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Quinto mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante  "forward fill" ("ffill")
#Filtro por columnas
data3["Tipo"] =data3["Tipo"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Sexto mÃ©todo de sustituciÃ³n de valores nulos
#Sustituir valores nulos por valores no nulos hacia atrÃ¡s backward fill" ("bfill")
#Filtro por columnas
data3["OperaciÃ³n"] =data3["OperaciÃ³n"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Sustituir valores nulos por valores no nulos hacia atrÃ¡s backward fill" ("bfill")
data3["Provincia"] =data3["Provincia"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data3["Vendedor"] =data3["Vendedor"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Corroboramos valores nulos en todo el dataframe
valores_nulos=data3.isnull().sum().sum()
valores_nulos

**MÃ©todo de EliminaciÃ³n de valores nulos**

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

In [ ]:
#Realizamos una copia del dataframe
data4=data2.copy()
data4

In [ ]:
#Eliminamos filas con nulos
#No se agrega nada para eliminar filas y 1 para eliminar columnas
data4= data2.dropna()
data4

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data4.isnull().sum()
valores_nulos

**Comparamos DataFrame3(SustituciÃ³n) y Dataframe4(EliminaciÃ³n)**

In [ ]:
data3.info()

In [ ]:
data4.info()

**Convertir DataSet sin valores nulos a CSV**

In [ ]:
#Convertir DataFrame a CSV
data.to_csv("inmuebles_sin_nulos.csv")

In [ ]:
#descargar archivo filtrado en csv
#from google.colab import files 
  
  
#files.download("inmuebles_sin_nulos.csv")

In [ ]:
columnas_impares = df.iloc[:, 1::2]