<a href="https://colab.research.google.com/github/freddy-7/TI3002C/blob/main/2_Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**VALORES NULOS**

In [ ]:
#Cargar archivo csv desde COLAB
#from google.colab import files
#files.upload()

In [6]:
#Carga desde un archivo .csv sin indice
data = pd.read_excel('Gastos y costos 20-23.xlsx')
data.head(5)

,CALOR Y CONTROL S.A DE C.V,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,GASTO,10418041.6,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,DEDUCCIONES 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IVA,1597941.439,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RET IVA,198890.4,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RET ISR,66039.89,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FECHA,FOLIO,UUID,RFC,PROVEEDOR,TIPO GASTO,GASTO,DESCRIPCION,TC,IMPORTE,IVA,RET ISR,RET IVA,TOTAL MX,TOTAL SAT,TIPO,STATUS,POLIZA,Columna1

In [ ]:
#Eliminar primera fila o filas innecesarias
data1= pd.read_excel('Gastos y costos 20-23.xlsx', skiprows=5)
data1

,FECHA,FOLIO,UUID,RFC,PROVEEDOR,TIPO GASTO,GASTO,DESCRIPCION,TC,IMPORTE,IVA,RET ISR,RET IVA,TOTAL MX,TOTAL SAT,TIPO,STATUS,POLIZA,Columna1
0,2020-01-01,39408,BD20F436-72CC-4BE2-AD37-5999D71AA391,ARE080115PBA,ARSI RENTA SA DE CV,MAQUINARIA,NaN,"Descripción: REVOLVEDORA, Modelo: ULTRAMP9A, M...",1.0,0.00,2248.28,0.0,0.0,2248.28,16300.00,I,Vigente,NaN,14051.72
1,2020-01-01,0001010100750847116902,85AEAC2E-6395-44A0-9CB9-754D06893375,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,NaN,COMISION COBRADA,1.0,490.00,78.40,0.0,0.0,568.40,568.40,I,Vigente,NaN,0.00
2,2020-01-01,0001010100752163714102,BD0DFE85-D776-41CB-9C5C-4FA7923E687A,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,NaN,COMISION COBRADA,1.0,195.00,31.20,0.0,0.0,226.20,226.20,I,Vigente,NaN,0.00
3,2020-01-01,3663,EF4504D6-830D-415C-AF03-80CF54C5E28E,PSS120625C86,PROMOTORA DE SERVICIOS Y SOLUCIONES EMPRESARIA...,HONORARIOS CONTABLES,NaN,HONORARIOS CONTABLES\nDEL MES DE ENERO DEL 2020.,1.0,10694.25,1711.08,0.0,0.0,12405.33,12405.33,I,Vigente,NaN,0.00
4,2020-01-01,2849,EC2F4AA4-BA64-4E2E-A5B7-4EBBE042D6D3,ENA7006081P0,ELECTROTERMICA NACIONAL SA DE CV,COMPRAS,NaN,Pago,1.0,0.00,NaN,0.0,0.0,0.00,0.00,P,Vigente,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,2020-12-01,125834,80BCB1D8-673F-495B-9C2A-4AC9F9CB38E5,SQS110113MU0,SERVICIO QUINTANA SUR S.A DE C.V,COMBUSTIBLE,G VTA,32011 MAGNA,1.0,129.79,20.21,0.0,0.0,150.00,150.00,I,Vigente,NaN,0.00
3338,2020-12-01,37652,D4C7C1FB-03A7-4046-A2BD-03EBE7DA861E,PSQ790724C90,"CIA. PERIODISTICA DEL SOL DE QUERETARO, S.A. D...",PUBLICIDAD,G VTA,82101504-PUBLICIDAD EN PERIODICOSCALOR Y CONTROL,1.0,2284.80,365.57,0.0,0.0,2650.37,2650.37,I,Vigente,NaN,0.00
3339,2020-12-01,160,FFCEE7D4-1F38-4D44-BE02-EB042DAACEE7,SQX981027RY5,"SUPER Q, S. A. DE C. V.",ALIMENTOS,G VTA,REF VICTORIA GROSELLA 3 LT PET NR,1.0,163.79,26.21,0.0,0.0,190.00,190.00,I,Vigente,NaN,0.00
3340,2020-12-01,634875,8DFF4F01-2F8B-4085-B116-05A314108B02,BIN940223KE0,"BANCO INVEX, S.A., INSTITUCION DE BANCA MULTIP...",COMISION BANCARIA,G FINA,COMISIONES E INTERESES,1.0,0.00,0.00,0.0,0.0,0.00,0.00,I,Vigente,NaN,0.00
3341,2020-12-01,1044477,F18225D6-4024-4F03-A15A-D18917386D59,EFE8908015L3,EFECTIVALE S. de R.L. de C.V.,COMBUSTIBLE,G VTA,CONSUMOS DE COMBUSTIBLE DE MONEDEROS ELECTRONICOS,1.0,14889.29,0.00,0.0,0.0,14889.29,14889.29,I,Vigente,NaN,0.00

In [64]:
#Eliminar columnas innecesarias
#axis = 1 para columnas
#axis = 0 para filas
#data2= data1.drop(['0','Referencia'], axis=1)
#data2
print(data.columns)

Index(['CALOR Y CONTROL S.A DE C.V',                 'Unnamed: 1',
                       'Unnamed: 2',                 'Unnamed: 3',
                       'Unnamed: 4',                 'Unnamed: 5',
                       'Unnamed: 6',                 'Unnamed: 7',
                       'Unnamed: 8',                 'Unnamed: 9',
                      'Unnamed: 10',                'Unnamed: 11',
                      'Unnamed: 12',                      'GASTO',
                         10418041.6,                'Unnamed: 15',
                      'Unnamed: 16',                'Unnamed: 17',
                      'Unnamed: 18'],
      dtype='object')

In [59]:
#Identificar valores nulos por columna
valores_nulos=data.isnull().sum()
valores_nulos

CALOR Y CONTROL S.A DE C.V    0
Unnamed: 1                    0
Unnamed: 2                    0
Unnamed: 3                    0
Unnamed: 4                    0
Unnamed: 5                    0
Unnamed: 6                    0
Unnamed: 7                    0
Unnamed: 8                    0
Unnamed: 9                    0
Unnamed: 10                   0
Unnamed: 11                   0
Unnamed: 12                   0
GASTO                         0
10418041.6                    1
Unnamed: 15                   0
Unnamed: 16                   0
Unnamed: 17                   0
Unnamed: 18                   0
dtype: int64

In [ ]:
#Identificar valores nulos por dataframe
valores_nulos=data2.isnull().sum().sum()
valores_nulos

**Métodos de Sustitución de Valores Nulos**

In [ ]:
#Realizamos una copia del dataframe
data3=data2.copy()

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data["=SUMA(J:J)"]=data["=SUMA(J:J)"].fillna(round(data["=SUMA(J:J)"].mean(),1))

In [65]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

CALOR Y CONTROL S.A DE C.V    0
Unnamed: 1                    0
Unnamed: 2                    0
Unnamed: 3                    0
Unnamed: 4                    0
Unnamed: 5                    0
Unnamed: 6                    0
Unnamed: 7                    0
Unnamed: 8                    0
Unnamed: 9                    0
Unnamed: 10                   0
Unnamed: 11                   0
Unnamed: 12                   0
GASTO                         0
10418041.6                    1
Unnamed: 15                   0
Unnamed: 16                   0
Unnamed: 17                   0
Unnamed: 18                   0
dtype: int64

In [ ]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediana
data3["Precio Venta"]=data3["Precio Venta"].fillna(round(data2["Precio Venta"].median(),1))

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto 
#Todos los rellena con 10

data3["Fecha Alta"]= data3["Fecha Alta"].fillna(10) 
data3

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [70]:
#Cuarto método de sustitución de valores nulos
#Sustituir valores nulos por un string en  concreto 
data[10418041.6] =data[10418041.6].fillna("NO DATA")

In [71]:

print(data.columns)

Index(['CALOR Y CONTROL S.A DE C.V',                 'Unnamed: 1',
                       'Unnamed: 2',                 'Unnamed: 3',
                       'Unnamed: 4',                 'Unnamed: 5',
                       'Unnamed: 6',                 'Unnamed: 7',
                       'Unnamed: 8',                 'Unnamed: 9',
                      'Unnamed: 10',                'Unnamed: 11',
                      'Unnamed: 12',                      'GASTO',
                         10418041.6,                'Unnamed: 15',
                      'Unnamed: 16',                'Unnamed: 17',
                      'Unnamed: 18'],
      dtype='object')

In [72]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

CALOR Y CONTROL S.A DE C.V    0
Unnamed: 1                    0
Unnamed: 2                    0
Unnamed: 3                    0
Unnamed: 4                    0
Unnamed: 5                    0
Unnamed: 6                    0
Unnamed: 7                    0
Unnamed: 8                    0
Unnamed: 9                    0
Unnamed: 10                   0
Unnamed: 11                   0
Unnamed: 12                   0
GASTO                         0
10418041.6                    0
Unnamed: 15                   0
Unnamed: 16                   0
Unnamed: 17                   0
Unnamed: 18                   0
dtype: int64

In [ ]:
#Quinto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante  "forward fill" ("ffill")
#Filtro por columnas
data["10418041.6"] =data["10418041.6"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Sexto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
#Filtro por columnas
data3["Operación"] =data3["Operación"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
data3["Provincia"] =data3["Provincia"].fillna(method="bfill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
#Filtro por columnas
data3["Vendedor"] =data3["Vendedor"].fillna(method="ffill")

In [ ]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#Corroboramos valores nulos en todo el dataframe
valores_nulos=data3.isnull().sum().sum()
valores_nulos

**Método de Eliminación de valores nulos**

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

In [ ]:
#Realizamos una copia del dataframe
data4=data2.copy()
data4

In [ ]:
#Eliminamos filas con nulos
#No se agrega nada para eliminar filas y 1 para eliminar columnas
data4= data2.dropna()
data4

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data4.isnull().sum()
valores_nulos

**Comparamos DataFrame3(Sustitución) y Dataframe4(Eliminación)**

In [ ]:
data3.info()

In [ ]:
data4.info()

**Convertir DataSet sin valores nulos a CSV**

In [73]:
#Convertir DataFrame a CSV
data.to_csv("Gastos y Costos limpio.csv")

In [ ]:
#descargar archivo filtrado en csv
#from google.colab import files 
  
  
#files.download("inmuebles_sin_nulos.csv")

In [ ]:
columnas_impares = df.iloc[:, 1::2]